input {
	border-radius: 5px;
	width: 200px;
	height: 20px;
}

input.button {
	height: 25px;
	width: 100px;
	text-align: center;
	box-shadow: 2px 2px grey;
}

fieldset {
	font-weight: bold;
}

legend {
	color: red;
}