html{
}
body {
    margin:0;
    padding:0;
}
tr {
    border:1px solid grey;
}
td {

    vertical-align: top;
    padding-top:5px;
}
form {
    border: 30px;
}

.registration_wrapper{
    width:100%;
    height:100vh;
    border:1px solid pink;
    background:url(../images/frog2.jpg) no-repeat center fixed;
    background-size: cover;
}
.login_wrapper{
    width:100%;
    height:100vh;
    border:1px solid pink;
    background:url(../images/frog1.jpg) no-repeat center fixed;
    background-size: cover;}
.minuform {
    background-color: rgba(200,200,200,.4);
    padding:50px;
    width: 350px;
    height:300px;
    border-radius: 10px;
}




.offersTable {
    border: 1px solid black;
    border-collapse: collapse;
}

table.offersTable {
    width: 80%;
}

.addinfo {
    width: 100%;
    border-collapse: collapse;
    display: none;

}

.summaryRow:hover.addinfo {
    display: block;
    cursor: pointer;
    background-color: blue;
}

#x2 {
    background-color: pink;
}

#x1 {
    background-color: pink;
}

