.centered {
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.visible {
    display: block;
}

.hidden {
    display:none;
}


/* events & participant information page */

.dateTimePicker {
    xwidth: 90%;
}

/*#addParticipantBtn {
    display: none;
    border: 1px solid deeppink;
}*/


/* hotel rooms */

#hotelRooms>td {
    padding-left: 5px;
    padding-right: 5px;
}




/* flights' cities (fcities) page */
table.fromToCityByArrivalTime {
	border: 1px solid black;
	border-collapse: collapse;
	body: collapse;	
	
}

/* offer(s) */
.event {
    border: 1px solid dimgrey;
    margin:5px;
}
.oneFlight {
    xborder:1px solid red;
}
.arrivalFlight {
    zbackground-color:olivedrab;
}
.departureFlight {
    zbackground-color:brown;
}

.oneParticipant {
    xborder:2px solid pink;
}

.eventVenue {
    xbackground-color: aqua;
}
div {
    xborder: 1px dashed black;
}