input {
	border-radius: 5px;
	width: 200px;
	height: 20px;
}

input.button {
	height: 25px;
	width: 100px;
	text-align: center;
	box-shadow: 2px 2px grey;
}

legend {
	color: red;
}

fieldset {
	font-weight: bold;
}

div {
	padding-top: 20px;
}

table {
	border-collapse: collapse;
	width: 25%;
}

td, th {
	border: 1px solid black;
	border-radius: 5px;
	text-align: left;
	padding: 5px;
}

tr:nth-child(even) {
	background-color: lightgrey;
}

.Sum {
	font-weight: bold;
	text-align: right;
}