.centered {
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.visible {
    display: block;
}

.hidden {
    display:none;
}

.wrapper {
    width: 100%;
    height: 100vh;
}
/* login page */
.login_wrapper {
    background: url(../images/frog2.jpg) no-repeat center fixed;
 /*   -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);*/
}

.form_background {
    background-color: rgba(200,200,200,.4);
    padding:50px;
    width: 350px;
    height:300px;
    border-radius: 10px;
}



/* registration page */
.registration_wrapper{
    background:url(../images/frog2.jpg) no-repeat center fixed;
}

/* events & participant information page */

.dateTimePicker {
    width: 90%;
}

/*#addParticipantBtn {
    display: none;
    border: 1px solid deeppink;
}*/

#participantsList {
    xdisplay: none;
    width:600px;
}

#eventsContainer {
    border: 1px solid darkseagreen;
    border-collapse: collapse;
}

#participantForm {
    width:200px;
}

/* hotel rooms */

#hotelRooms>td {
    padding-left: 5px;
    padding-right: 5px;
}




/* flights' cities (fcities) page */
table.fromToCityByArrivalTime {
	border: 1px solid black;
	border-collapse: collapse;
	body: collapse;	
	
}

/* offer(s) */
.oneFlight {
    xborder:1px solid red;
}
.arrivalFlight {
    background-color:olivedrab;
}
.departureFlight {
    background-color:brown;
}

.oneParticipant {
    xborder:2px solid pink;
}

.eventVenue {
    background-color: aqua;
}
div {
    xborder: 1px dashed black;
}